<!DOCTYPE html>
<html>
<head>
  <title>Unsupported Browser</title>
  <%= stylesheet_link_tag  "browser_warrior/application", media: "all" %>
</head>
<body>
  <div class="browser-warrior-mask">
    <div class="browser-warrior-dialog" id="browser-warrior-dialog">
      <div class="browser-warrior-text">
        <h1 class="browser-warrior-title">Unsupported Browser Detected</h1>
        <p class="browser-warrior-para">
          This website has been built using modern HTML standards. Your current browser will not interpret the page correctly and introduce layout descrepencies with text and images.
        </p>
        <p class="browser-warrior-para">
          In addition, out-of-date browsers often have security exploits that put your personal information at risk.
        </p>
        <p class="browser-warrior-para">
          In order to avoid seeing this page, please use one of our supported browsers:
        </p>
        <div class="browser-warrior-para">
          <a class="browser-warrior-browser-link" href="https://www.google.com/search?q=google+chrome+browser" target="_blank" hidefocus>
            <i class="browser-warrior-browser-icon browser-warrior-browser-icon-chrome"></i>
            Google Chrome
          </a>
          <a class="browser-warrior-browser-link" href="https://www.google.com/search?q=mozilla+firefox+browser" target="_blank" hidefocus>
            <i class="browser-warrior-browser-icon browser-warrior-browser-icon-firefox"></i>
            Mozilla Firefox
          </a>
          <a class="browser-warrior-browser-link" href="https://www.google.com/search?q=opera+browser" target="_blank" hidefocus>
            <i class="browser-warrior-browser-icon browser-warrior-browser-icon-opera"></i>
            Opera
          </a>
          <a class="browser-warrior-browser-link" href="https://www.google.com/search?q=microsoft+browser" target="_blank" hidefocus>
            <i class="browser-warrior-browser-icon browser-warrior-browser-icon-ie"></i>
            Microsoft Edge or new IE
          </a>
        </div>
        <p class="browser-warrior-para">
          Thanks for your understanding and support.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
